{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "plugins": ["json", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "object-shorthand": ["error", "consistent-as-needed"],
    "no-continue": "off",
    "no-param-reassign": ["warn", { "props": false }]
  }
}
